<!DOCTYPE html>
<html>
    <% include partials/head %>
    <body>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="jumbotron text-center">
                <img src="https://studyadelaide.com/wp-content/uploads/2017/01/spotjobs-logo-1.png" class="img-circle">
                <h1>Job Search Portal</h1>
                <p class="lead">A simple & easy way to find your carrier.</p>
                <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
            </div>
        </div>
    </body>
</html>
